.pm-onboarding-header {
	&:after {
		display: none;
	}
}

.wp-logo {
	background: #191e23;
	transition: all 0.3s ease;
	&:hover {
		background:rgba($color: #191e23, $alpha: 0.9);
	}
}

.pm-logo {
	background: #1400d1;
	padding: 1rem;
	border-radius: 3px;
	height: 64px;
	width: 64px;
	margin: 0 auto;
}

.pm-onboarding-support-links {
	svg {
		margin-right: 0.5rem;
	}
}

.pm-onboarding-page-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.euiCallOut {
		text-align: left;
	}
}

#pm-logo-svg {
	.cls-1{fill:#fff;}
	.cls-2{fill:#eee;}
}

button {
	.euiLoadingSpinner {
		margin-right: 0.5rem;
	}
}

html.wp-toolbar {
	padding: 0;
}

#adminmenumain, #wpfooter, #wpadminbar {
	display: none;
}

#wpcontent {
	margin: 0;
	padding: 0;
}

#wpbody-content {
	float: none;
	margin: 0;
	padding: 0;
}

#wpbody {
	background-color: #fafbfd;
}
